@model Administracion.BusinessLayer.Dto.Usuario

@{
    ViewBag.Title = "Delete";
}

<div class="container">
    <h3>¿Está seguro de borrar el usuario?</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreDeUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreDeUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contrasenia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contrasenia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PerfilId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PerfilId)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
