@model IEnumerable<Administracion.BusinessLayer.Dto.AgenciaItem>

@{
    ViewBag.Title = "Agencia";
}

<div class="container-fluid">

    <h2>Lista de agencias</h2>

    <p>
        @Html.ActionLink("Agregar nuevo", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProyectoNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoDeAgencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentarios)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProyectoNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clave)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoDeAgencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ciudad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comentarios)
                </td>
                <td>
                    <a href="~/Agencia/Edit/@item.Id" class="btn btn-warning">
                        <i class="fas fa-edit text-white"></i>
                    </a>
                    <a href="~/Agencia/Details/@item.Id" class="btn btn-info">
                        <i class="fas fa-list text-white"></i>
                    </a>
                    <a href="~/Agencia/Delete/@item.Id" class="btn btn-danger">
                        <i class="fas fa-trash text-white"></i>
                    </a>
                </td>
            </tr>
        }

    </table>

</div>